@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome to code2cloud 3rd time</h1>
    <p>Learn about <a href="https://learn.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
    <label for="envSelect" class="form-label mt-3">Environment</label>
    <select id="envSelect" class="form-select">
        <option>Dev</option>
        <option>QA</option>
        <option>STG</option>
    </select>
</div>
